/** last changed: 2022.3.6 */

body {
  margin: 0 auto;
  width: 100%;
  min-width: 310px;
  background-color: #eee;
  user-select: none;
  cursor: default;
  font-family: sans-serif;
}

/* header */
.header {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.header * {
    flex: 1;
}

#option-switcher {
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
}

.dark-mode #option-switcher svg {
  fill: white;
}

.option-switcher {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

.option {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #eee;
  border-left: 1px solid #000;
}

.option-collapsed {
  visibility: hidden;
}

.option .menu {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.option .menu * {
  flex: 1;
}

.menu .title {
  font-weight: bold;
}

.menu span {
  font-size: 16px;
}

.menu select {
  font-size: 16px;
  background-color: #eee;
  height: 25px;
}

.menu input {
  margin: 0;
}

/* workspace */
.workspace {
  margin: auto;
  width: 450px;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.workspace .col {
  width: 200px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.workspace .col .dict {
  font-size: 96px;
}

.workspace .col .row input {
  font-size: 96px;
  width: 100%;
  border: 2px solid #111;
  background-color: #eee;
  display: inline;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px;
}

.workspace.right {
  background-color: #77ff77;
}
.workspace.wrong {
  background-color: #ff7777;
}

/* keyboard */
.keyboard {
  text-align: center;
  margin: 20px auto;
}

.keyboard .keys {
  /** 1874 / 1928 * 700 */
  margin: 10px auto;
  min-width: 1000px;
}

.keyboard .keys .row-1 {
  font-size: 0;
}

.keyboard .keys .row-2 {
  /** 90 / 1928 * 700 */
  margin-top: 10px;
  margin-left: 40px;
  font-size: 0;
}

.keyboard .keys .row-3 {
  /** 180 / 1928 * 700 */
  margin-top: 10px;
  margin-left: 120px;
  font-size: 0;
}

.keyboard .keys .key {
  /** 180 / 1928 * 700 */
  width: 64.5px;
  /** 180 / 1928 * 700 */
  height: 64.5px;
  border: 2px black solid;
  display: inline-block;
  padding: 4px;
  font-size: 16px;
  margin-right: 10px;
  overflow: hidden;
}

.keyboard .keys .underline .top .left {
  text-decoration: underline;
}

.keyboard .keys .row-2 .default {
  border-color: #0077ff;
}

.keyboard .keys .key-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.keyboard .keys .key .top {
  display: flex;
  flex: 2;
}

.keyboard .keys .key .top .left {
  display: flex;
  flex: 1;
}

.keyboard .keys .key .top .left .key-character {
  margin: auto;
  font-weight: bold;
}

.keyboard .keys .key .top .right {
  display: flex;
  flex: 1;
}

.keyboard .keys .key .top .right .key-character {
  margin: auto;
}

.keyboard .keys .key .bottom {
  flex: 3;
  display: flex;
  flex-direction: row;
}

.keyboard .keys .key .bottom .left {
  flex: 1;
}

.keyboard .keys .key .bottom .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 8%;
}

.keyboard .keys .key .bottom .right span {
  margin: auto;
}

.keyboard .keys .key.answer {
  background-color: #77ff77;
}

.keyboard .keys .key.pressed {
  background-color: #ffec02;
}

@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
  /* IE */
  .keyboard .pic {
    filter: none;
  }
}

.keyboard #other-container {
  display: flex;
  width: 50%;
  height: 64px;
  margin: auto;
}

.keyboard .other-container .other-key-container:last-child {
  border-right: 1px black solid;
}

.keyboard .other-container .other-key-container {
  flex: 1;
  border: 1px black solid;
  border-right: 0;
}

.keyboard .other-container .other-key-container div {
  height: 100%;
  display: flex;
}

.keyboard .other-container .other-key-container div span {
  margin: auto;
}

.keyboard .other-container .other-key-container .other-key {
  font-weight: bold;
}

.keyboard .tips {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  font-size: 12px;
  color: #777;
}

.keyboard .tips .line {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 5px;
}

/* manual */
.manual {
  width: 50%;
  min-width: 230px;
  text-align: center;
  margin: 20px auto;
}

.manual p {
  color: #333;
  font-size: 14px;
  margin: 5px;
  display: inline-block;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  margin: 20px auto;
  width: 100%;
  display: flex;
}

/* copyright */
.copyright {
  min-width: 250px;
  /* position: relative; */
  /* float: left; */
  text-align: center;
  margin: auto;
}

.copyright span {
  font-size: 14px;
  color: #777;
}

.copyright a {
  font-size: 12px;
  color: #888888;
  font-style: italic;
}

/* dark mode */
.dark-mode {
  background-color: #333;
}

.dark-mode * {
  background-color: #333 !important;
  color: #ccc !important;
  border-color: #ccc !important;
}

.dark-mode .workspace .col .row input {
  border: solid #333;
}

.dark-mode .keyboard .pic {
  filter: invert(0.8);
}

.dark-mode .keyboard .keys .key.answer {
  background-color: #77ff77 !important;
}

.dark-mode .keyboard .keys .key.pressed {
  background-color: #ffec02 !important;
}

.dark-mode .keyboard .keys .row-2 .default {
  border-color: cyan !important;
}

.dark-mode .workspace.right {
  background-color: #335533 !important;
}
.dark-mode .workspace.wrong {
  background-color: #ff7777 !important;
}
